%div.row-fluid
  %table.table
    %tr
      %th{ colspan: 4 }
        %h4 現在の状況
    %tr
      %td{ width: "15%" } 現在売り上げ
      %td{ width: "15%" }= to_currency(@results[:earnings])
      %td{ width: "25%" } / #{to_currency(105000000)} [コミット売上]
      %td
        %div.progress
          %div.bar{ style: "width: #{@results[:percentile1]}%;" }
    %tr
      %td 現在導入社数
      %td #{@results[:performance]} 社
      %td / 17 社 [目標導入社数]
      %td
        %div.progress
          %div.bar{ style: "width: #{@results[:percentile2]}%;" }
    %tr
      %td 現在の総案件数
      %td #{@total.count}
      %td 現在の保留案件数
      %td #{@pending_count}
    %tr
      %td{ colspan:2 } 過去3ヶ月以上アクションがない案件数
      %td{ colspan:2 } #{@keep_in_touch.count} #{link_to "（案件を確認する）", "/campaigns/no_act_for_three_months/"}
-#%div.row-fluid
  -#%div.span12
    -#%p 活動件数推移をここに書く
%div.row-fluid
  %div.span6
    %h4 今後1週間の予定
    %ul
      - unless @next_actions.empty?
        - @next_actions.each do |nact|
          %li
            %a{ href: "/activities/#{nact.id}" }
              = "[#{nact.campaign.code}] ##{nact.number} #{nact.name}  -- #{nact.date.strftime('%Y-%m-%d %H:%M')}"
      - else
        %li
          予定はありません（
          %a{ href: "/activities/new/" } 予定を登録する
          ）
  %div.span6
    %h4 未消化のタスク
    %ul
      - unless @tasks.empty?
        - @tasks.each do |task|
          %li
            %a{ href: "/tasks/#{task.id}" }
              = "[#{task.campaign_code}] #{task.name} @#{task.user.name} -- #{task.deadline.strftime('%Y-%m-%d %H:%M')}"
      - else
        %li
          未消化のタスクはありません
%br
%div.row-fluid
  %div.span12
    %h4 最新の活動実績（10件）
    %ul
      - unless @recent_actions.empty?
        - @recent_actions.each do |nact|
          %li
            %a{ href: "/activities/#{nact.id}" }
              = "[#{nact.campaign.customer.name}] ##{nact.number} #{nact.name}  -- #{nact.date.strftime('%Y-%m-%d %H:%M')}"
