-# coding:utf-8
%div.row-fluid
  %h2 タスク管理
  %div.tabbable{ style: "margin-bottom: 18px;" }
    %ul.nav.nav-tabs
      %li
        %a{ href: "/tasks/" } タスク一覧
      %li
        %a{ href: "/tasks/new" }
          %i.icon-edit
          新規登録
      %li.active
        %a{ href: "#tab1", "data-toggle" => "tab" } 自分のタスク
      %li
        %a{ href: "/tasks/finished" } 完了済タスク
    %p アサインされたタスクを表示します。
    - cnt = 0
    - @tasks.each_with_index do |tasks, idx|
      %div.row-fluid
        %div.span12
          %div#accordion2.accordion
            %table.table.table-striped
              %tr
                %th{ colspan: 3 }= get_title(idx)
              - if tasks.empty?
                %tr
                  %td{ colspan: 3 }= get_comment(idx)
              - else
                - tasks.each do |task|
                  %tr
                    %td{ width: "15%" }= task.deadline.strftime('%Y-%m-%d %H:%M')
                    %td{ width: "65%" }
                      %a{ href: "#{task.id}" }
                        = task.name
                        %span.badge{ style: "background-color: #{task.priority.design}" }= task.priority.name
                    %td{ width: "20%" }= task.user.name
                      
