%div.pagination.pagination-centered
  = paginate campaigns      
%table.table.table-bordered.table-striped
  %tr
    %th{ width: "5%" } ID
    %th{ width: "20%" } 顧客名
    %th{ width: "7%" } 案件コード
    %th{ width: "36%" } 案件名
    %th{ width: "11%" } 目標受注時期
    %th{ width: "11%" } 目標受注額
    %th 案件更新日
  - unless campaigns.nil?
    - campaigns.each_with_index do |campaign, idx|
      %tr
        %td
          %a{ href: "/campaigns/#{campaign.id}" }= idx+1
        %td
          %a{ href: "/campaigns/#{campaign.id}" }= campaign.customer.name
        %td
          %a{ href: "/campaigns/#{campaign.id}" }= campaign.code
        %td
          %a{ href: "/campaigns/#{campaign.id}" }
            = campaign.name
            %span.badge{ style: "background-color: #{campaign.kind.design}" }= campaign.kind.name
            - unless campaign.accuracy.nil?
              %span.badge{ style: "background-color: #{campaign.accuracy.design}" }= campaign.accuracy.name
        %td
          = campaign.get_period
        %td
          = to_currency(campaign.get_amount.to_i)
        %td
          %font{ color: "#666666"}= campaign.recent_act_at.strftime('%Y-%m-%d')
%div.pagination.pagination-centered
  = paginate campaigns      